html {
    font-size: 62.5%;
}

body {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, p {
    margin: 0;
    color: black;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 13.2rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.8rem;
    line-height: 1.6;
    color: $darkgrey;
}