.contact {
    padding: 75px 0 25px;
    &__header {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: 5px;
        font-weight: 500;
        position: relative;
        &::before {
            content: '';
            width: 200px;
            height: 3px;
            background-color: $lightgrey;
            border-radius: 1.5px;
            position: absolute;
            bottom: -20%;
            left: 50%;
            transform: translateX(-50%) rotate(-5deg);
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text-container {
        width: 100%;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 1.8rem;
        line-height: 1.4;
        text-align: center;
    }
    &__icon {
        margin-right: 10px;
    }
    &__form {
        width: 75%;
    }
    &__label {
        font-size: 1.8rem;
        color: $darkgrey;
    }
    &__input {
        width: 100%;
        display: block;
        border: 0;
        border-bottom: 1.5px solid $darkgrey;
        margin-bottom: 15px;
        font-size: 1.8rem;
        height: 40px;
        background-color: transparent;
    }
    &__message {
        height: 150px;
        background-color: transparent;
        resize: none;
    }
    &__submit {
        border: 0;
        padding: 0;
        background-color: transparent;
        font-size: 1.8rem;
        color: $darkgrey;
        position: relative;
        &:hover {
            color: $white;
            // color: $red;     
        }
        &--red:hover {
            color: $red;
        }
        &--pink:hover {
            color: $pink;
        }
        &--yellow:hover {
            color: $yellow;
        }
        &--blue:hover {
            color: $blue;
        }
        &--teal:hover {
            color: $teal;
        }
        &--green:hover {
            color: $green;
        }
        &:hover::before {
            content: '';
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $white;
            // border-bottom: 2px solid $red;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &--red:hover::before {
            border-bottom: 2px solid $red;
        }
        &--pink:hover::before {
            border-bottom: 2px solid $pink;
        }
        &--yellow:hover::before {
            border-bottom: 2px solid $yellow;
        }
        &--blue:hover::before {
            border-bottom: 2px solid $blue;
        }
        &--teal:hover::before {
            border-bottom: 2px solid $teal;
        }
        &--green:hover::before {
            border-bottom: 2px solid $green;
        }
    }
}


// MEDIA QUERY

@media (max-width: 960px) {
    .contact {
        &__text-container {
            margin-bottom: 25px;
        }
        &__form {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .contact {
        &__header {
            margin-bottom: 50px;
            &::before {
                width: 175px;
            }
        }
    }
}