.contact {
    padding-top: 50px;
    &__header {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 75px;
        letter-spacing: 5px;
        font-weight: 500;
        position: relative;
        &::before {
            content: '';
            width: 200px;
            height: 3px;
            background-color: $lightgrey;
            position: absolute;
            bottom: -20%;
            left: 50%;
            transform: translateX(-50%) rotate(-5deg);
        }
    }
    &__container {
        display: flex;
    }
    &__text-container {
        width: 40%;
    }
    &__text {
        font-size: 1.8rem;
        line-height: 1.4;
    }
    &__icon {
        margin-right: 10px;
    }
    &__form {
        width: 60%;
    }
    &__label {
        font-size: 1.8rem;
        color: $darkgrey;
    }
    &__input {
        width: 100%;
        display: block;
        border: 0;
        border-bottom: 1.5px solid $darkgrey;
        margin-bottom: 15px;
        font-size: 1.8rem;
        height: 40px;
        background-color: transparent;
    }
    &__message {
        height: 150px;
        background-color: transparent;
        resize: none;
    }
    &__submit {
        border: 0;
        padding: 0;
        background-color: transparent;
        font-size: 1.8rem;
        color: $darkgrey;
        position: relative;
        &:hover {
            color: $red;     
        }
        &:hover::before {
            content: '';
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $red;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}