.work {
    padding: 50px 0;
    &__header {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 75px;
        letter-spacing: 5px;
        font-weight: 500;
        color: $white;
        position: relative;
        &::before {
            content: '';
            width: 200px;
            height: 3px;
            background-color: $white;
            border-radius: 1.5px;
            position: absolute;
            bottom: -20%;
            left: 50%;
            transform: translateX(-50%) rotate(-5deg);
        }
    }
    &__project {
        margin-bottom: 75px;
        padding: 25px 0;
        &--bg {
            padding: 75px 0;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 120%;
                height: 100%;
                background-color: $lightgrey;
                position: absolute;
                top: 52%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-5deg);
                z-index: -2;
            }
            &::after {
                content: '';
                display: block;
                width: 120%;
                height: 100%;
                background-color: $grey;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(-5deg);
                z-index: -2;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        margin-bottom: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: $darkgrey;
        text-align: center;
        letter-spacing: 2px;
        &--white {
            color: $white;
        }
    }
    &__preview {
        position: relative;
        width: 100%;
        margin-bottom: 35px;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: $lightgrey;
            z-index: -1;
        }
        &:hover .work__links {
            opacity: 1;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        background-color: $grey;
    } 
    &__links {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s all ease;
        background-color: rgba($red,0.5);
    }
    &__link {
        display: block;
        padding: 10px 15px;
        font-size: 1.8rem;
        color: $white;
        background-color: $red;
        margin-right: 25px;
        position: relative;
        &:hover {
            color: $red;
            background-color: $white;
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: $darkgrey;
            z-index: -1;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__skills {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $darkgrey;
        margin-bottom: 15px;
        text-align: center;
        &--white {
            color: $white;
        }
    }
    &__text {
        text-align: justify;
        &--white {
            color: $white;
        }
    }
}


// MEDIA QUERY

@media (max-width: 480px) {
    .work {
        &__header {
            &::before {
                width: 175px;
            }
        }
        &__preview {
            margin-bottom: 100px;
        }
        &__links {
            top: auto;
            transform: translate(-50%,0);
            bottom: -90%;
            opacity: 1;
            background-color: transparent;
        }
    }
}